<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/index.css" media="screen">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</script>
  <title>Welcome To Rental Radar</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='RentalRadar.jpeg') }}">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0DBNCK7C98"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0DBNCK7C98');
</script>
<body>
  <div class="navbar">
    <img class="navbar-logo" src="{{ url_for('static', filename='RentalRadar.jpeg') }}" alt="Rental Radar Logo">
    <h1 class="navbar-title">Rental Radar</h1>
    <div class="nav-buttons">
    <a href="/about-us" class="navbar-button">About Us</a>
    <a href="/contact-us" class="navbar-button">Contact Us</a>
    <a href="/mission" class="navbar-button">Mission</a>
    <a href="/subscribe" class="navbar-button">Subscribe</a>
    </div>
  </div>
  <div class="image-container">
  <div class="heading-cover">
  <h1 class="heading">Your Zipcode + Our Analysis = Investment Success</h1>
  </div>
  <div class="heading-cover">
  <h2 class="heading">Enter Zipcode to continue...</h2>
  </div>
  <form action="/parameters" class="zip-form" method="POST">
    <label for="zipcode">Zip Code:</label>
    <input type="text" id="zipcode" name="zipcode"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>